
body{
	background-color: black;
	font-family: Open Sans;
	
	
}

*{
	box-sizing: border-box;
	
}
section.container{
    padding-left: 50px;
    padding-right: 50px;
}
.blue-bg{
    
    background: #29279A;
padding-top: 8%;
    padding-bottom: 8%;
}

/*typography*/

h1{
    font-size: 80px;
    font-weight: 300;
}
h2{
    font-size: 50px;
    font-weight: 300;
}

h1, h2, h3, p{
	
	color: white;
}

a{
	color: white;
	text-decoration: none;
}

/* home page */

.intro{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
padding: 30px;
    transform: translate(-50%,-50%);
    
}
.welcome{
    font-size: 25px !important;
    color:#A1A1A1; 
    font-weight: normal !important;
}
.bg-animation {
    position: relative;
}
svg#home-anim {
    position: relative;
}
#home {
  clip-path: url(#cache);
}



#blue {
  fill: none;
  opacity: 0.15;
  stroke: #29279A;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 }
    }

@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }

.knowledge{
    font-weight: 500 !important;
    font-size: 32px;
    text-align: center;
}
.about-me{
    padding-top: 5%;
    padding-bottom: 5%;
}
.about-page{
    
/*margin-bottom: 10%;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    position: relative;
    justify-content: center;
/*     margin-left: 6%;*/
}

.about-title{
    font-size: 50px;
    font-weight: 300;
}

.about-content{
    
    font-size: 21px !important;


}

#codes{
    
/*    margin-top: 10%;*/
    
}

.logo-code{
    
    font-size: 25px;
   border: 3px solid #5653CE;
    width: 40%;
    text-align: center;
    border-radius: 30px;
     animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-weight: 300;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
#php{
    
    margin-left: 50%;
    top: 200;
}

#js{
   margin-left: 50%; 
    
}

#react{
   margin-left: 20%; 
}

#xd{
       margin-left: 50%; 
    
}
#in{
       margin-left: 10%; 
    
}
#pp{
       margin-left: 50%; 
    
}

.paragraph-content{
    font-size: 21px;
}
.work-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}
.images {
    position: relative;
}
.grid-figma{
    width: 100%;
    height: 100%;
}

.work-title{
    font-size: 27px;
    font-weight: 300;
      background-color: #5653CE;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 80%;
}

.web-links{
    border: 3px solid #5653CE;
    font-size: 25px;
    text-align: center;
       padding: 9px 22px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

}
.web-links:hover{
    background: #5653CE;
}
.footer-color{
     background: #5653CE;
    padding-top: 5%;
    padding-bottom: 5%;

}
footer{
    background: #5653CE;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
    width: 100%;
        align-content: center;
    align-items: center;
}
.icon{
    width: 30%;
}
/*

header
*/

header{
 z-index: 100;
position: fixed;
    top: 5%;
   
}
.overlay {
  height: 100%;
 width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
background: #5653CE;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;

 
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
    font-weight: 300;
    font-size: 50px;
    color: white;

  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 16px 9px;
    width:100%;
    text-align: center;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
header .hambuger #ham span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    left: 20px;
    cursor: pointer;
    top: 20%;
 
}
header .hambuger #ham span:nth-child(1) {
    top: 10px;
    transform-origin: left center;
    cursor: pointer;
}
header .hambuger #ham span:nth-child(2) {
    top: 19px;
    width: 100%;
    transform-origin: left center;
    cursor: pointer;
}
header .hambuger #ham span:nth-child(3) {
    top: 29px;
    width: 100%;
    transform-origin: left center;
    
    cursor: pointer;
}

#zoom:hover{
     transform: scale(1.1);
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
     p{
        font-size: 18px;
    }
    
    h1{
       font-size: 50px !important;
        
    }
    
    h2{
        font-size: 32px;
    }
    .work-grid{
        grid-template-columns: 1fr;
    }
    .about-page{
        grid-template-columns: 1fr;
    }
   
   
}

/*responsiveness*/
@media only screen and (min-width : 600px) and (max-width: 1439px){
     .work-grid{
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width : 200px) and (max-width: 599px){
   p{
        font-size: 18px;
    }
    
    h1{
       font-size: 50px !important;
        
    }
    
    h2{
        font-size: 32px;
    }
    .work-grid{
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .about-page{
        grid-template-columns: 1fr;
    }  
    
    .footer-grid{
         grid-template-columns:  1fr 1fr;
    }
    .overlay a {
        font-size: 32px;
        width: 100%;
    }
    
}
@media only screen and (min-width : 600px) and (max-width: 1024px){
      .about-page{
        grid-template-columns: 1fr;
    }
     h1{
       font-size: 60px !important;
        
    }
}

