@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body{
	background-color: black;
	font-family: 'Bricolage Grotesque', sans-serif; 
	
	
}

*{
	box-sizing: border-box;
	
}
section.container{
    padding-left: 50px;
    padding-right: 50px;
}
.blue-bg{
    
    background: #070F2B;
padding-top: 8%;
    padding-bottom: 8%;
}

/*typography*/

h1{
    font-size: 80px;
    font-weight: 500;
}
h2{
    font-size: 50px;
    font-weight: 500;
}
h4{
    font-size: 25px;
}


h1, h2, h3,h4, p{
	
	color: white;
}

a{
	color: white;
	text-decoration: none;
}

li::marker {
    color: #535C91; /* Change bullet point color here */
  
  }
#padding{
    padding-top: 20%;
    padding-bottom: 20%;
    background: url(images/blurry-gradient-haikei.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
#bg{
padding-top: 5%;
    padding-bottom: 5%;
    background: url(images/blurry-gradient-haikei.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.bg{
     background: url(images/blurry2.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    background-attachment: fixed;
}

/* home page */

.intro{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
padding: 100px;
    transform: translate(-50%,-50%);
    
}
.welcome{
    font-size: 32px;
    color:#535C91; 
    font-weight: normal !important;
    text-transform: uppercase;
    top: 10%;
    position: absolute;
    
}

h1.name{
    height: 50px;
    float: left;
    margin-bottom: 0.3em;
}

span.job-title{
    font-size: 80px; 
    display: inline-block;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 25px;
    animation: move 10s ease;
    animation-iteration-count: infinite;
    animation-delay: 2s; 
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
b.rotating{
    float: left;
    overflow: hidden;
    position: relative;
    height: 100px;
    font-weight: 500;
    top: 60px;
  
}

@keyframes move{
  0%  { top: 0px; }
20% { top: -100px; }
40% { top: -150px; }
60% { top: -200px; }
80% { top: -250px; }

}




.bg-animation {
    position: relative;
}
svg#home-anim {
    position: relative;
}
#home {
  clip-path: url(#cache);
}

li{
    color: #fff;
    line-height: 150%;
    letter-spacing: 5%;
}


#blue {
  fill: none;
  opacity: 0.15;
  stroke: #29279A;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 }
    }

@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }

.knowledge{
    font-weight: 500 !important;
    font-size: 32px;
    text-align: center;
}
.about-me{
    padding-top: 5%;
    padding-bottom: 5%;
}
.about-page{
    
/*margin-bottom: 10%;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    position: relative;
    justify-content: center;
/*     margin-left: 6%;*/
}

.about-title{
    font-size: 50px;
    font-weight: 300;
}

.about-content{
    
    font-size: 21px !important;


}

#codes{
    
/*    margin-top: 10%;*/
    
}

.logo-code{
    
    font-size: 25px;
   border: 3px solid #535C91;
    padding: 10px;
    width: 40%;
    text-align: center;
    border-radius: 30px;
     animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-weight: 500;
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
#php{
    
    margin-left: 50%;
    top: 200;
}
#css{
    position: relative;
   
    right: -50%;
    top: -6%;
   
}

#js{
   margin-left: 50%; 
    
}

#react{
   margin-left: 20%; 
}

#xd{
       margin-left: 50%; 
    
}
#in{
       margin-left: 10%; 
    
}
#pp{
       margin-left: 50%; 
    
}

.paragraph-content{
    font-size: 21px;
    width: 80%;
}
.work-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}
.images {
    position: relative;
}
.grid-figma{
    width: 100%;
    height: 100%;
}

.work-title{
    font-size: 27px;
    font-weight: 300;
      background-color: #000;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: absolute;
  bottom: -10%;
}

.web-links{
    border: 3px solid #5653CE;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 140%;
    letter-spacing: 5%;
       padding: 9px 22px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

}
.web-links:hover{
    background: #5653CE;
}
.footer-color{
     background: #000;
    padding-top: 5%;
    padding-bottom: 5%;

}
footer{
    background: #000;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 100%;
        align-content: center;
    align-items: center;
}
.icon{
    width: 20%;
}
.icon2{
    width:8%;
}
/*

header
*/

header{
 z-index: 100;
position: fixed;
    top: 5%;
    right: 5%;

}
.overlay {
  height: 100%;
 width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
background: #070F2B;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;

 
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
    font-weight: 300;
    font-size: 50px;
    color: white;

  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
/*
  color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 16px 9px;
    width:100%;
    text-align: center;
*/
}
.nav-text:hover{
     color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 16px 9px;
    width:100%;
    text-align: center;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


header .hambuger #ham span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    left: 20px;
    cursor: pointer;
    top: 20%;
 
}
header .hambuger #ham span:nth-child(1) {
    top: 10px;
    transform-origin: left center;
    cursor: pointer;
}
header .hambuger #ham span:nth-child(2) {
    top: 19px;
    width: 100%;
    transform-origin: left center;
    cursor: pointer;
}
header .hambuger #ham span:nth-child(3) {
    top: 29px;
    width: 100%;
    transform-origin: left center;
    
    cursor: pointer;
}

#zoom:hover{
     transform: scale(1.05);
}


/*services*/

.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.services-content{
    border: 3px solid #070F2B;
    padding: 25px;
    cursor: default;
    
}
.services-content:hover{
background-color: #070F2B;}


.rectangle{
width: 30px;
height: 3px;
background: #535C91;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

p.number{
font-size: 21px;
    left: 50px;
    position: relative;
}
span.notes{
   font-size: 12px;
}

/*swiper*/
.swiper{
    width: 100%;
    height: 100%;
    
}

.swiper-slide{
    padding: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    display: block;
    width: 100%;
    object-fit: cover;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
     p{
        font-size: 18px;
    }
    
    h1{
       font-size: 50px !important;
        
    }
    
    h2{
        font-size: 32px;
    }
    .work-grid{
        grid-template-columns: 1fr;
    }
    .about-page{
        grid-template-columns: 1fr;
    }
   
   
}

/*responsiveness*/
@media only screen and (min-width : 600px) and (max-width: 1439px){
     .work-grid{
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width : 200px) and (max-width: 599px){
   p{
        font-size: 18px;
    }
     p.welcome{
        font-size: 18px;
    }
    p.paragraph-content{
        font-size: 18px;
        width: 100%;
    }
    h1{
       font-size: 32px;
        
    }
    
    h2{
        font-size: 25px;
    }
    h2.about-title{
        font-size: 25px;
    }
    h3{
        font-size: 25px;
    }
    h3.about-title{
        font-size: 25px;
    }
    .work-grid{
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .about-page{
        grid-template-columns: 1fr;
    }  
    
    .footer-grid{
         grid-template-columns:  1fr 1fr 1fr;
    }
    .overlay a {
        font-size: 32px;
        width: 100%;
    }
    .logo-code{
        font-size: 14px;
    }
     .full-width {
        width: 100% !important; /* Set width to 100% */
    }
    .work-title{
        font-size: 12px;
        bottom: -20%;
    }
 
    .overlay .closebtn{
        top: 0;
        right: 0;
    }
    .icon{
    width: 50%;
}
    span.job-title{
        font-size: 27px;
        left: 0;
    }
    
    b.rotating{
      
        top: 0;
    }
    .intro{
        padding: 0;
    }
    .welcome{
        top: -20%;
    }
    
}
@media only screen and (min-width : 600px) and (max-width: 1024px){
      .about-page{
        grid-template-columns: 1fr;
    }
     h1{
       font-size: 60px !important;
        
    }
    .intro{
        padding: 0;
    }
     .welcome{
        top: -20%;
    }
}

